* {
  border: 1px solid black;
}

body {
  margin-top: 70px;
  background-image: url("../images/concrete_seamless.png");
}

.container {
  max-width: 960px;
}

#maincontent-image {
  max-width: 40%;
}


.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
