/** {
  border: 1px solid black;
}*/

body {
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background-image: url("../images/concrete_seamless.png");
}

html {
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

.container {
  max-width: 1000px;
}

/* Navbar Styling*/

#navstyling {
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}


#logo {
  float: left;
  width: 270px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: .05em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav a {
  color: #999;
  text-decoration: none;
}



/* Main Content*/

#maincontent-image {
  max-width: 40%;
  margin-right: 10px;
}

.main-content {
  margin-top: 120px;
}

.main-container {
  float: left;
  width: 100%;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

/* Sidebar */

.sidebar {
  width: 100%;
  height: 60%;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}


.sidebar-header {
  font-size: 1.5em;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

/* Begin Sticky Footer*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

/* Contact Page */

.button-color {
  background-color: #4aaaa5;
}
